<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	rel="stylesheet" />
<style>
.list-group-item-action:hover {
	background-color: #f8f9fa; /* Nhẹ nhàng sáng hơn */
	color: #007bff; /* Màu xanh cho hover */
	font-weight: bold; /* In đậm khi hover */
}

.card {
	border: none; /* Khung nhẹ cho danh mục */
	border-radius: 10px;
}

.list-group-item {
	border: none; /* Bỏ đường viền từng item */
}

.card h4 {
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}
</style>

<title>Document</title>

</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
		<div class="container-fluid">
			<!-- Logo -->
			<a class="navbar-brand d-flex align-items-center" th:href="@{/}">
				<img th:src="@{/images/logo.png}" src="../static/images/logo.png"
				width="50" height="50" class="d-inline-block align-top" alt="Logo">
				<span class="ml-2 font-weight-bold">Shop Nhạc Cụ</span>
			</a>
			<!-- Toggler for mobile view -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Navigation Links -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/}"
						href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/shop}"
						href="#">Shop</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/cart}"
						href="#">Cart</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>
					</li>
					<li class="nav-item"><span class="nav-link"> <i
							class="fas fa-shopping-cart"></i> <span th:text="${cartCount}">0</span>
					</span></li>
					<li class="nav-item active"><span class="nav-link"
						th:text="${email}">User Email</span></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-sm-3">
				<h4 class="mb-3">Danh mục nhạc cụ</h4>
				<div class="card">
					<ul class="list-group list-group-flush">
						<a class="list-group-item list-group-item-action"
							th:href="@{/shop}"> </i> All Products
						</a>
						<a class="list-group-item list-group-item-action"
							th:each="category, iStat : ${categories}"
							th:href="@{/shop/category/{id}(id=${category.id})}"> <span
							th:text="${category.name}"></span>
						</a>

					</ul>
				</div>
			</div>

			<div class="col-sm-9">
    <div class="row">
        <!-- Sử dụng col-lg-4 để chia 3 sản phẩm mỗi hàng -->
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px" 
            th:each="product : ${products}">
            <div class="card h-100 d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top" height="150px" width="150px"
                         th:src="@{${'/productImages/' + product.imageName}}"
                         th:alt="${product.name}">
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title" th:text="${product.name}"></h5>
                        <span style="font-weight: bold; color: black;">
                            <span th:text="${product.price}"></span> VND
                        </span>
                        <p class="card-text" th:text="${product.description}"></p>
                    </div>
                    <!-- Nút View Product luôn cố định dưới -->
                    <a href="#"
                       th:href="@{/shop/viewproduct/{id}(id=${product.id})}"
                       class="btn btn-primary mt-auto">View Product</a>
                </div>
            </div>
        </div>
    </div>
</div>

		</div>
	</div>


	<div class="w-100">
		<!-- Footer -->
		<footer class="text-center text-lg-start text-white"
			style="background-color: #45526e">
			<!-- Grid container -->
			<div class="container p-4 pb-0">
				<!-- Section: Links -->
				<section class="">
					<!--Grid row-->
					<div class="row">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Company
								name</h6>
							<p>Here you can use rows and columns to organize your footer
								content. Lorem ipsum dolor sit amet, consectetur adipisicing
								elit.</p>
						</div>
						<!-- Grid column -->

						<hr class="w-100 clearfix d-md-none" />

						<!-- Grid column -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
							<p>
								<a class="text-white">MDBootstrap</a>
							</p>
							<p>
								<a class="text-white">MDWordPress</a>
							</p>
							<p>
								<a class="text-white">BrandFlow</a>
							</p>
							<p>
								<a class="text-white">Bootstrap Angular</a>
							</p>
						</div>
						<!-- Grid column -->

						<hr class="w-100 clearfix d-md-none" />

						<!-- Grid column -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Useful
								links</h6>
							<p>
								<a class="text-white">Your Account</a>
							</p>
							<p>
								<a class="text-white">Become an Affiliate</a>
							</p>
							<p>
								<a class="text-white">Shipping Rates</a>
							</p>
							<p>
								<a class="text-white">Help</a>
							</p>
						</div>

						<!-- Grid column -->
						<hr class="w-100 clearfix d-md-none" />

						<!-- Grid column -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
							<p>
								<i class="fas fa-home mr-3"></i> Hồ Chí Minh, Gò Vấp, Phường 4,
								12 Nguyễn Văn Bảo
							</p>
							<p>
								<i class="fas fa-envelope mr-3"></i> shopnhaccu@gmail.com
							</p>
							<p>
								<i class="fas fa-phone mr-3"></i> + 01 234 567 88
							</p>
							<p>
								<i class="fas fa-print mr-3"></i> + 01 234 567 89
							</p>
						</div>
						<!-- Grid column -->
					</div>
					<!--Grid row-->
				</section>
				<!-- Section: Links -->

				<hr class="my-3">

				<!-- Section: Copyright -->
				<section class="p-3 pt-0">
					<div class="container">
						<div class="row justify-content-center align-items-center">
							<!-- Copyright Section -->
							<div class="col-md-12 text-center">
								<div class="p-3">© 2024 Your Website. All rights reserved.
								</div>
							</div>

							<!-- Social Media Section -->
							<div class="col-md-12 text-center mt-2">
								<!-- Facebook -->
								<a class="btn btn-outline-light btn-floating m-1" role="button">
									<i class="fab fa-facebook-f"></i>
								</a>

								<!-- Twitter -->
								<a class="btn btn-outline-light btn-floating m-1" role="button">
									<i class="fab fa-twitter"></i>
								</a>

								<!-- Google -->
								<a class="btn btn-outline-light btn-floating m-1" role="button">
									<i class="fab fa-google"></i>
								</a>

								<!-- Instagram -->
								<a class="btn btn-outline-light btn-floating m-1" role="button">
									<i class="fab fa-instagram"></i>
								</a>
							</div>
						</div>
					</div>
				</section>


				<!-- Section: Copyright -->
			</div>
			<!-- Grid container -->
		</footer>
		<!-- Footer -->
	</div>





	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>